[submodule "libs/evillib"]
	path = libs/evillib
	url = https://github.com/stackshadow/copilotc-web.git
[submodule "libs/util-linux"]
	path = libs/util-linux
	url = https://git.kernel.org/pub/scm/utils/util-linux/util-linux.git
	branch = v2.30.2
