[Unit]
Description=copilot-daemon
#Documentation=man:bluetoothd(8)

[Service]
User=copilot
Group=copilot
Type=simple
ExecStart=/usr/bin/copilotd --debug

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
